.login {
	width: 15vw;
}

#log-out {
	transform:translate(20%, -40%);/**右移元素**/
}

.notification {
	background-image: url("../images/test.jpg");
	color: white;
	text-decoration: none;
	margin-top: 10px;
	padding: 20px 20px;
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.notification:hover {
	opacity: 0.5;
}

.notification .badge {
	position: absolute;
	top: -10px;
	right: -10px;
	padding: 5px 10px;
	border-radius: 50%;
	background: red;
	color: white;
}


